<div class="container">
  <div class="actions">
    @switch (view()) {
      @case ('transactions') {
        <a class="button" queryParamsHandling="merge" [routerLink]="[]" [queryParams]="{ view: 'graphs' }">
          <i class="fa-solid fa-chart-simple"></i>
          Graphs
        </a>
      }
      @case ('graphs') {
        <a class="button" queryParamsHandling="merge" [routerLink]="[]" [queryParams]="{ view: 'transactions' }">
          <i class="fa-solid fa-money-bill"></i>
          Transactions
        </a>
      }
    }
  </div>

  @let _accountId = accountId();
  @if (detailsLoadingError() === undefined && _accountId !== undefined) {
    @switch (view()) {
      @case ('transactions') {
        <app-account-detail-transactions-table [accountId]="_accountId" />
      }
      @case ('graphs') {
        <app-account-detail-graphs [accountId]="_accountId" />
      }
    }
  }

  @if (detailsLoadingError(); as loadingError) {
    <app-error-display [error]="loadingError">
      <ng-template #notFoundMessage>Account could not be found</ng-template>
    </app-error-display>
  }
</div>
