:host {
  display: block;
}

h1,
h3 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1800px;

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .filters {
      display: flex;
      gap: 2em;
      align-items: end;
    }
  }
}
