:host {
  display: block;
}

table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

h1,
h3 {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1800px;
}
