<div>
  <h1>{{ accountDetails()?.name }}</h1>
  <h3>{{ (accountDetails()?.amount ?? 0) / 100 | currency }}</h3>
</div>

<app-pagination
  [page]="page()"
  [totalPages]="transactions()?.meta?.lastPage ?? 0"
  (prevPage)="updatePage(page() - 1)"
  (nextPage)="updatePage(page() + 1)"
/>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Payee</th>
      <th>Notes</th>
      <th>Category</th>
      <th>Payment</th>
      <th>Deposit</th>
    </tr>
  </thead>

  <tbody>
    @for (transaction of transactions()?.data; track transaction.id) {
      <tr>
        <td>{{ transaction.date | date }}</td>
        <td>{{ transaction.payee }}</td>
        <td>{{ transaction.notes }}</td>
        <td>{{ transaction.category }}</td>
        <td>
          @if (transaction.amount < 0) {
            {{ transaction.amount / 100 | currency }}
          }
        </td>
        <td>
          @if (transaction.amount > 0) {
            {{ transaction.amount / 100 | currency }}
          }
        </td>
      </tr>
    }
  </tbody>
</table>
