:host {
  display: block;
  position: relative;

  border-radius: 0.25em;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-radius: inherit;

  background: var(--background-accent-1);

  th,
  td {
    padding: 0.5em;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &.right {
      text-align: right;
    }

    &:first-of-type {
      padding-left: 1em;
    }
    &:last-of-type {
      padding-right: 1em;
    }
  }

  th {
    text-align: left;
    opacity: 0.5;
  }

  tbody tr {
    &:hover {
      background: var(--background-accent-2);
    }
  }
}

.disabled-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: inherit;

  background: rgba(0, 0, 0, 0.5);

  animation: fade-in 0.125s;
}
