<label
  [class.disabled]="disabled()"
  [class.has-value]="value().length > 0"
  [class.clearable]="clearable()"
  [class.bulky]="bulky()"
>
  <span class="label-text">
    {{ label() }}
  </span>

  <div class="input-container">
    <input
      #inputElement
      [type]="type()"
      [value]="value()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      (change)="value.set(inputElement.value)"
      (keyup.enter)="submitted.emit()"
    />

    @if (clearable()) {
      <button class="clear-button" [disabled]="disabled()" (click)="value.set('')">
        <i class="fa-solid fa-xmark"></i>
      </button>
    }
  </div>
</label>
