:host {
  display: block;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  transition: opacity var(--transition-duration);

  .label-text {
    font-size: 0.85em;
    padding-left: 0.25em;
  }

  &.clearable input {
    padding-right: 2em;
  }

  &.disabled {
    opacity: 0.5;
  }

  .input-container {
    position: relative;

    input {
      padding: 0.5em;
      border: none;
      border-radius: 0.25em;
      outline: none;

      background: var(--background-accent-1);
      color: var(--foreground);

      transition: background var(--transition-duration);

      &:not(:disabled) {
        &:focus,
        &:hover {
          background: var(--background-accent-2);
        }
      }
    }

    button.clear-button {
      background: none;
      border: none;
      color: var(--foreground);

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.5em;

      cursor: pointer;

      &:disabled {
        cursor: default;
      }
    }
  }

  &:not(.has-value) .clear-button {
    display: none;
  }
}
