<label [class.disabled]="disabled()" [class.has-value]="value().length > 0" [class.clearable]="clearable()">
  <span class="label-text">
    {{ label() }}
  </span>

  <div class="input-container">
    <input
      [type]="type()"
      [value]="value()"
      [placeholder]="placeholder()"
      (change)="value.set(inputElement.value)"
      [disabled]="disabled()"
      #inputElement
    />

    @if (clearable()) {
      <button class="clear-button" [disabled]="disabled()" (click)="value.set('')">
        <i class="fa-solid fa-xmark"></i>
      </button>
    }
  </div>
</label>
