<div class="actions">
  <app-input-field
    #startDate
    label="Start date"
    type="date"
    [disabled]="loading()"
    (valueChange)="updateTimeRange(startDate.value(), endDate.value())"
  />
  <app-input-field
    #endDate
    label="End date"
    type="date"
    [disabled]="loading()"
    (valueChange)="updateTimeRange(startDate.value(), endDate.value())"
  />
</div>

<app-cash-flow-graph
  [timeRange]="selectedTimeRange()"
  [accountId]="accountId()"
  (loadingChanged)="cashFlowGraphLoading.set($event)"
/>
