:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: stretch;
}

.actions {
  display: flex;
  gap: 0.5em;
  align-items: flex-end;

  button {
    height: 1.125em;
  }
}

.graphs {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: stretch;
}
