<header>
  <div class="header-content">
    <div class="left-header">
      @if (layoutFacade.backButtonUrl(); as url) {
        <a class="back-link" [routerLink]="url">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      }

      <h1>
        <img src="icon.png" alt="App Icon" />

        @if (layoutFacade.selectedAccount(); as selectedAccount) {
          <div class="selected-account-title">
            {{ selectedAccount.name }}

            <div class="amount" [class.amount-negative]="selectedAccount.amount < 0">
              {{ selectedAccount.amount / 100 | currency }}
            </div>
          </div>
        } @else {
          <div class="title">Unofficial Actual Dashboard</div>
        }
      </h1>

      <button
        class="icon-button reload-button"
        [disabled]="reloading()"
        [class.reloading]="reloading()"
        (click)="doReload()"
      >
        <i class="fa-solid fa-sync"></i>
      </button>
    </div>

    <div class="header-actions">
      <span class="user">
        <i class="fa-solid fa-user"></i>
        {{ username() }}
      </span>

      <button class="icon-button" (click)="doLogout()">
        <i class="fa-solid fa-sign-out"></i>
      </button>
    </div>
  </div>
</header>

<main>
  <div class="content">
    <router-outlet />
  </div>
</main>
