<app-input-field
  label="Search"
  placeholder="Notes"
  clearable
  [value]="filters().search"
  [disabled]="disabled()"
  (valueChange)="doSearch($event)"
/>

<app-select-field
  label="Category"
  [value]="filters().category"
  [options]="categoryOptions()"
  [disabled]="disabled() || categoriesLoading() || categoriesLoadingError() !== undefined"
  (valueChange)="changeCategory($event)"
/>

@if (categoriesLoadingError(); as categoriesLoadingError) {
  <span class="error">
    <i class="fa fa-exclamation-circle"></i>
    Error loading categories
  </span>
}
