<h1>
  <img src="icon.png" alt="App Icon" />
  Unofficial Actual Dashboard
</h1>

<div class="form-container">
  <app-input-field
    label="Username"
    bulky
    [disabled]="loading()"
    [(value)]="username"
    (submitted)="loginButton.click()"
  />
  <app-input-field
    type="password"
    label="Password"
    bulky
    [disabled]="loading()"
    [(value)]="password"
    (submitted)="loginButton.click()"
  />

  <div class="error">
    @if (error()) {
      These credentials do not match our records.
    }
  </div>

  <button #loginButton [disabled]="loading()" (click)="doLogin()">
    Log in
    <i class="fa-solid fa-arrow-right-to-bracket"></i>
  </button>
</div>
