:host {
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  position: relative;

  border-radius: 0.25em;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.disabled-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: inherit;

  background: rgba(0, 0, 0, 0.5);

  animation: fade-in 0.125s;
}
