@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';

:root {
  --primary: #83b729;
  --primary-hover: #6f9e2e;

  --foreground: white;
  --background: #2f2f2f;
  --background-accent-1: #494949;
  --background-accent-2: #5d5d5d;
  --background-secondary-1: #262626;
  --background-secondary-2: #1f1f1f;

  --amount-positive: #0ab50a;
  --amount-negative: #ff4f23;

  --danger: #f81212;

  --transition-duration: 0.2s;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: 'Nunito', sans-serif;
  color: var(--foreground);
  background: var(--background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: var(--primary);
  color: var(--foreground);
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  padding: 0.5em 1em;

  transition: background 0.2s;

  &.icon-button {
    font-size: 1em;
    width: 2em;
    height: 2em;
    padding: 0;
  }

  &:hover {
    background: var(--primary-hover);
  }

  &:disabled {
    background: rgba(0, 0, 0, 0.1);
    cursor: default;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
