@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';

:root {
  --primary: #83b729;
  --primary-hover: #6f9e2e;

  --foreground: white;
  --background: #2f2f2f;
  --background-accent-1: #494949;
  --background-accent-2: #5d5d5d;
  --background-secondary-1: #262626;
  --background-secondary-2: #1f1f1f;

  --amount-positive: #0ab50a;
  --amount-negative: #ff4f23;

  --transition-duration: 0.2s;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: 'Nunito', sans-serif;
  color: var(--foreground);
  background: var(--background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
