@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: 'Nunito', sans-serif;
  color: white;
  background: #2f2f2f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #83b729;
  --primary-hover: #6f9e2e;
}
